<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="titular">Titular</label>
                <select id="titular" class="form-control" ng-model="titular" ng-options="titular.FullName for titular in titulares track by titular.Id" ng-change="loadCards()" class="form-control">
                    <option value=''>Seleccione Titular</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="tarjeta">Tarjeta</label>
                <select id="tarjeta" class="form-control" ng-model="tarjeta" ng-options="tarjeta.FullDescription for tarjeta in tarjetas track by tarjeta.Id" ng-disabled="!tarjetas" ng-change="" class="form-control">
                    <option value=''>Seleccione Tarjeta</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group" ng-class="{'has-error': datepickerForm.fechaCupon.$invalid}">
                <label for="titular">Fecha</label>
                <input class="form-control" ng-model="selectedDate" data-min-date="02/10/90" data-autoclose="1" name="fechaCupon" bs-datepicker type="text">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="comercio">Comercio</label>
                <select id="comercio" class="form-control" ng-model="comercio" ng-options="comercio.RazonSocial for comercio in comercios track by comercio.Id" ng-disabled="!comercios" ng-change="" class="form-control">
                    <option value=''>Seleccione Comercio</option>
                </select>
            </div>
        </div>
    </div>


</div>
