<div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="titular">Titular</label>
                <select id="titular" class="form-control" ng-model="titular" ng-options="titular.FullName for titular in titulares track by titular.Id" ng-change="loadCards()" class="form-control">
                    <option value=''>Seleccione Titular</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="tarjeta">Tarjeta</label>
                <select id="tarjeta" class="form-control" ng-model="tarjeta" ng-options="tarjeta.FullDescription for tarjeta in tarjetas track by tarjeta.Id" ng-disabled="!tarjetas" ng-change="" class="form-control">
                    <option value=''>Seleccione Tarjeta</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="titular">Fecha</label>
                <select id="titular" class="form-control" ng-model="titular" ng-options="titular.FullName for titular in titulares track by titular.Id" ng-change="loadCards()" class="form-control">
                    <option value=''>Seleccione Titular</option>
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="tarjeta">Comercio</label>
                <select id="tarjeta" class="form-control" ng-model="tarjeta" ng-options="tarjeta.FullDescription for tarjeta in tarjetas track by tarjeta.Id" ng-disabled="!tarjetas" ng-change="" class="form-control">
                    <option value=''>Seleccione Tarjeta</option>
                </select>
            </div>
        </div>
    </div>


</div>
